*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: black; display: block;}
img{display: block; border: 0; width: 100%; height: auto;}

body{font-family: 'Noto Sans KR', sans-serif;}
.sec_title{font-family: 'Montserrat',sans-serif;}

@media all and (min-width:1200px){

.wrap{
    max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* common */
header,section,footer{
    width: 100%;
    float: left;
    position: relative;
    top: 0; left: 0;
}

.tab{display: none;}
/* common */

header{
    height: 50px;
    /* background-color: palegoldenrod; */
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
}

.in_header{
    width: 100%;
    height: 50px;
    background-color: #b70037;
    margin-top: 50px;
    position: relative;
}

.header_top_menu{
    width: 200px;
    /* background-color: palegreen; */
    position: absolute;
    top: -23px;
    right: 50px;
    display: flex;
    justify-content: space-between;
}

.header_top_menu>li{
    font-size: 12px;
    font-weight: 400;
}

.header_top_menu>li>a:hover{
    font-weight: 500;
    color: #d60037;
    text-decoration: underline;
    text-decoration-color: #d60037;
}

.menu_wrap{
    width: 1200px;
    height: 50px;
    /* background-color: paleturquoise; */
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.top_menu{
    width: 160px;
    height: 50px;
    background-color: #b70037;
    float: left;
}

.top_menu>a{
    font-size: 18px;
    font-weight: 400;
    color: #efefef;
    text-align: center;
    line-height: 50px;
}

.header_logo{
    width: 240px;
    height: 50px;
    background-color: #48494c;
    float: left;
}

.header_logo>a{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
/* menu_wrap */

.sub_menu_wrap{
    width: 100%;
    height: /* 360px */ 0;
    /* background-color: palevioletred; */
    position: absolute;
    top: 0; left: 0;
    z-index: -9;
    overflow: hidden;
    transition: .5s;
}

.sub_menu{
    width: 160px;
    height: 360px;
    background-color: #48494c;
    padding-top: 80px;
    box-sizing: border-box;
    float: left;
}

.sub_menu>li{margin-bottom: 10px;}

.sub_menu>li>a{
    font-size: 14px;
    font-weight: 300;
    color: #c8c6c6;
    text-align: center;
    line-height: 22px;
}

.sub_logo{width: 240px;}

.menu_wrap:hover .sub_menu_wrap{height: 360px;}

.sub_menu>li:hover a{
    font-weight: 500;
    color: #fff;
}


/* header */

.side_btn{
    width: 100px;
    height: 300px;
    position: fixed;
    top: 150px;
    right: 50px;
    z-index: 9;
    /* display: none; */
}

.side_btn>li{
    width: 100px;
    height: 100px;
    /* background-color: palegoldenrod; */
}


/* side_btn */

.sec01{
    height: 70vh;
    position: relative;
    /* overflow: hidden; */
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide_1{background-image: url(../img/sec_1/slide_pc_1.jpg);}
.slide_2{background-image: url(../img/sec_1/slide_pc_2.jpg);}


/* sec01 */

.sec02{
    height: 30vh;
    position: relative;
    overflow: hidden;
}

.title_box{
    width: auto;
    height: 15vh;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    font-size: 6vh;
    font-weight: 300;
    color: #efefef;
    line-height: 15vh;
    letter-spacing: 2px;
    overflow: hidden;
}

.title_box>span{
    font-weight: 600;
}

.title_box_top{
    top: 0; left: 0;
    background-color: #b70037;
    /* color: #b70037; */
}

.title_box_bottom{
    bottom: 0; left: 0;
    transform: rotateX(180deg) rotateY(180deg);
    background-color: #48494c;
    /* color: #48494c; */
}


/* sec02 */

.sec03{
    height: 100vh;
    /* background-color: palegoldenrod; */
    /* background-image: url(../img/sec_3/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    margin: 100px 0;
}

.sec03_title{
    font-size: 40px;
    font-weight: 600;
    color: #48494c;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
}

.title_line{
    width: 100%;
    height: 30px;
    /* background-color: palegreen; */
    margin-top: 10px;
}

.title_line_box{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.title_line_box:nth-child(1){border-right: 2px solid #48494c;}
.title_line_box:nth-child(2){border-left: 2px solid #48494c;}

.accordion_wrap{
    height: 600px;
    /* background-color: paleturquoise; */
    margin: 10px auto 0 auto;
}

.accordion_wrap>ul{
    display: flex;
    justify-content: center;
}

.ac_menu{
    display: flex;
}

.ac_top_menu{
    width: 16vw;
    height: 600px;
    /* background-color: palevioletred; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    cursor: pointer;
}

.ac_season .ac_top_menu{background-image: url(../img/sec_3/season_img.jpg);}
.ac_coffee .ac_top_menu{background-image: url(../img/sec_3/coffee_img_2.jpg);}
.ac_dessert .ac_top_menu{background-image: url(../img/sec_3/dessert_img.jpg);}
.ac_cake .ac_top_menu{background-image: url(../img/sec_3/cake_img.jpg);}

.ac_title{
    font-size: 40px;
    font-weight: 700;
    color: #efefef;
    text-align: center;
    margin-top: 250px;
}

.ac_sub_title{
    font-size: 22px;
    font-weight: 300;
    color: #efefef;
    text-align: center;
    margin-top: 20px;
}

.ac_content{
    width: 0;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.39);
    overflow: hidden;
}

.ac_season .ac_content{background-color: #a8271c;}
.ac_coffee .ac_content{background-color: #63270c;}
.ac_dessert .ac_content{background-color: #72432f;}
.ac_cake .ac_content{background-color: #425168;}

.ac_menu.active .ac_content{width: 400px;}

.info_wrap{
    width: 80%;
    height: auto;
    margin: 100px auto;
}

.info_title{
    font-size: 22px;
    font-weight: 400;
    color: #efefef;
    line-height: 40px;
}

.info_menu{
    border-right: 1px solid #efefef;
    padding-right: 30px;
    box-sizing: border-box;
    margin-top: 100px;
}

.info_menu>li{
    margin-bottom: 20px;
}

.info_menu>li>a{
    font-size: 16px;
    font-weight: 300;
    color: #efefef;
    text-align: right;
}

.info_menu>li:hover{text-decoration: underline;}

.info_cake>p{
    font-size: 14px;
    font-weight: 300;
    color: #efefef;
    margin-top: 10px;
}

.info_more_btn{
    width: 60px;
    height: 30px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    margin-top: 30px;
}

.info_more_btn>a{
    font-size: 14px;
    font-weight: 100;
    color: #efefef;
    text-align: center;
    line-height: 30px;
}


/* sec03 */

.sec04{
    height: 400px;
    /* background-color: #fff; */
    background-image: url(../img/sec_4/bg_2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bean_wrap{
    width: 100%;
    height: 400px;
}

.coffeeBean{
    /* width: 50%; */
    height: 400px;
    /* background-color: peachpuff; */
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 55px;
    font-weight: 800;
    color: #c8c6c6;
    text-align: center;
    line-height: 60px;
    transition: .5s;
    cursor: pointer;
}

.coffeeBean_black{float: left; margin-left: 10%;}
.coffeeBean_aroma{float: right; margin-right: 10%;}

.coffeeBean_black:hover{color: #000;}
.coffeeBean_aroma:hover{color: #f0522a;}

.sec04_title{
    font-size: 22px;
    font-weight: 500;
    color: #efefef;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.bean_box{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0; left: 0;
    z-index: 50;
    display: none;
}

.bean_box_black{background-color: #4b4b4b;}
.bean_box_aroma{background-color: #ce4f30;}

.bean_in_box{
    width: 1200px;
    margin: 0 auto;
}

.bean_img{
    width: 30%;
    height: 400px;
    /* background-color: palegoldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.bean_img>img{
    width: auto;
    height: 80%;
}

.bean_info_wrap{
    width: 70%;
    height: 400px;
    padding: 80px 50px;
    box-sizing: border-box;
    float: left;
}

.bean_title{
    font-size: 50px;
    font-weight: 800;
    color: #efefef;
    margin-bottom: 30px;
}

.bean_info_wrap>p{
    font-size: 18px;
    font-weight: 300;
    color: #efefef;
    line-height: 28px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.bean_box_aroma .bean_title{text-align: right;}
.bean_box_aroma .bean_info_wrap>p{text-align: right;}


/* sec04 */

.sec05{
    height: 850px;
    /* background-color: peru; */
    background-image: url(../img/sec_5/sec05_bg_0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 100px 0 150px 0;
}

.sec05_title{
    font-size: 40px;
    font-weight: 600;
    color: #48494c;
    text-align: center;
    line-height: 50px;
    margin-top: 100px;
}

.sec05_sub_title{
    font-size: 16px;
    font-weight: 300;
    color: #898989;
    text-align: center;
    line-height: 26px;
    margin-top: 15px;
}

.youtube{
    width: 800px;
    padding: 15px;
    border: 1px solid #48494c;
    margin: 30px auto 0 auto;
}


/* sec05 */

.sec06{
    height: 400px;
    /* background-color: palegoldenrod; */
}

.store_img,.store_con{
    width: 50%;
    height: 400px;
    /* background-color: palegoldenrod; */
    float: left;
}

.store_img{
    background-image: url(../img/sec_6/store.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec06_sub_title{
    width: 500px;
    font-size: 16px;
    font-weight: 300;
    color: #8d8d8d;
    text-align: center;
    letter-spacing: 2px;
    margin: 100px auto 30px auto;
}

.sec06_title{
    font-size:50px;
    font-weight: 800;
    color: #d60037;
    text-align: center;
    letter-spacing: -2px;
}

.store_btn{
    width: 100px;
    height: 40px;
    border: 1px solid #d60037;
    box-sizing: border-box;
    margin: 30px auto 0 auto;
    transition: .3s;
}

.store_btn>a{
    font-size: 16px;
    font-weight: 300;
    color: #d60037;
    text-align: center;
    line-height: 40px;
}

.store_btn:hover{background-color: #d60037;}
.store_btn:hover a{color: #fff;}


/* sec06 */

footer{
    background-color: #48494c;
}

.in_footer{
    width: 1200px;
    margin: 0 auto;
}

.footer_menu{
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer_menu>li>a{
    font-size: 16px;
    font-weight: 100;
    color: #efefef;
}

.footer_menu>li>a:hover{
    font-weight: 400;
    color: #fff;
}

.copyright{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100;
    color: #c8c6c6;
    line-height: 24px;
}

.footer_logo{
    margin: 40px auto 50px auto;
}

.footer_logo>a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #c8c6c6;
    text-align: center;
}

}/* end */